*{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
a{
    color: var(--text-color);
}
:root{
    --text-color: rgb(2, 17, 12);
    --green-color: #3cb815;
    --light-green-color: #14eb6675;
    --orange-color: #ff7e00;
    --light-orange-color: #f77f08b4;
    --bg-color: #ffffff;
    --gray-color: #afa3a3;
    --tuong-color: rgb(214, 233, 178);


    --color-orange: hsl(100, 56%, 58%);
    --color-green: hsl(120, 100%, 30%);
    --color-yellow: hsl(50, 100%, 50%);
    --color-red: hsl(0, 100%, 50%);
    --color-purple: hsl(270, 100%, 50%);
    --color-pink: hsl(330, 100%, 50%);
    --color-yellow: #FFD700;
    --color-dark-green: #006400;
    --color-bright-green: #7FFF00;
    --color-bright-blue: #00BFFF;
    --color-bright-purple: #9370DB;
}
body{
    color: var(--text-color);
}
img{
    width: 100%;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: 0 10px 12px var(--gray-color);
    transition: 0.65s;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-color);
    color: var(--bg-color);
    padding: 5px 70px;
    width: 100%;
}

.inf{
    display: flex;
    gap: 20px;
}
.inf li a{
    color: var(--bg-color);
}
.inf li:hover a{
    color: var(--light-orange-color);
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    width: 100%;
    height: 70px;
}

.bx-basket{
    font-size: 30px;
}

.cart{
    position: relative;
    cursor: pointer;
}
.cart .bx-cart{
    font-size: 30px;
}
.cart span{
    position: absolute;
    top: 0px;
    right: -10px;
    border-radius: 50%;
    background-color: var(--color-red);
    color: var(--bg-color);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--green-color);
}
.logo span{
    font-size: 20px;
}

.nav-ip{
    display: none;
}

.navbar{
    display: flex;
    padding: 10px;
    gap: 30px;
}
.navbar>li{
    position: relative;
    padding: 8px;
}

.navbar li:hover{
    background-color: var(--green-color);
    border-radius: 30px;

}
.navbar>li:hover>.sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    position: absolute;
    width: 230px;
    top: 30px;
    background-color: var(--tuong-color);
    border-radius: 10px;
    transition: all 0.5;
}
.sub-menu>li{
    padding: 10px;
}

.slide-show{
    max-width: 100%;
    position: relative;
    top: 120px;
    background-image: url(./img/bg-nen.avif);
}
.slide{
    display: flex;
    gap: 100px;
    margin: 0 150px;
}
.textcontent{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}
.imgcontent{
    flex: 0.4;
    height: 500px;
    width: 700px;
    border-radius: 20%;
}
.textcontent h1{
    text-transform: uppercase;
    font-size: 30px;

}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: var(--bg-color);
background-color: var(--gray-color);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: var(--text-color);
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}
  
.slide-show{
    position: relative;
    width: 100%;
    top: 105px;
    overflow: hidden;
    margin: auto;
}
.imgcontent{
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.categories{
    margin: 80px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    position: relative;
    top: 50px;
}
.cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 20px;
    transition: background-size 0.5s;
    color: var(--bg-color);
    border: 2px solid var(--green-color);
    position: relative;
}
.cate:hover{
    transform: scale(1.02);
}
.cate h2{
    padding: 20px;
    font-size: 26px;
    font-weight: 600;
}
.text-cate{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: absolute;
    color: var(--color-dark-green);
}
.cate img{
    width: 90%;
    height: 90%;
}

.products-2{
    margin: 100px 0;
    background-color: var(--tuong-color);
}

.products-2-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 30px;
    margin: 40px;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;;
}

.heading h1{
    font-size: 30px;
    margin: 10px 0;
    text-transform: uppercase;
}

.heading a{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--green-color);
    color: var(--bg-color);
    border-radius: 30px;
    padding: 10px;
    transition: all 0.4s;
}

#btn-0 i{
    border-radius: 100%;
    color: var(--green-color);
    background-color: var(--bg-color);
}

.heading a:hover{
    color: var(--text-color);
    background-color: var(--light-green-color);
}


.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 16px;
    border: 2px solid var(--green-color);
    background-color: var(--bg-color);
    transition: all 0.5s;
    width: 290px;
    height: 350px;
    flex: 1;
}

.box img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.price{
    display: flex;
    margin-bottom: 10px;
}

.box h2{
    margin: 16px;
    font-size: 25px;
    color: var(--orange-color);
}
.box h3{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.price p{
    text-decoration: line-through;
    color: var(--gray-color);
    margin-right: 10px;
}
.box .pushcart{
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: var(--green-color);
    color: var(--bg-color);
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}
.box .pushcart:hover{
    box-shadow: 0 10px 12px var(--light-green-color);
}

.box:hover{
    transform: scale(1.02);
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem,500px));
    align-items: center;
    gap: 30px;
    margin: 0 100px;
    background-color: var(--tuong-color);
}

.about img{
    width: 100%;
    border-radius: 5px;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}
.about-text span{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--green-color);
}
.about-text p{
    margin: 16px 0;
    max-width: 700px;
}
.about-text a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 120px;
    background-color: var(--green-color);
    color: var(--bg-color);
    border-radius: 30px;
    padding: 10px;
    transition: all 0.4s;
}
.about-text a i{
    border-radius: 100%;
    color: var(--green-color);
    background-color: var(--bg-color);
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 30px;
    color: var(--text-color);
    background-image: linear-gradient(144deg,#d0ebdd, #7fa5a0 50%,#cea6d3);
}
.footer-box{
    display: flex;
    gap: 40px;
    margin: 0 140px;
}
.footer-logo{
    margin: 30px 0;
    flex: 1;
}
.footer-logo p{
    margin-top: 30px;
}
.sosials{
    flex: 1;
}
.connect{
    flex:2;
}
.about-me{
    flex: 1;
}
.ft{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ft h1{
    margin-top: 30px;
    color: var(--bg-color);
    font-size: 18px;
}
.ft a{
    transition: all 0.4s;
}
.ft a:hover{
    color: var(--bg-color);
}

